.create__main {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;

  //form
  &__form {
    margin-bottom: 30px;

    textarea {
      min-width: 450px;
      min-height: 350px;
      border-radius: 30px;
      padding: 30px;
      font-family: "Cutive Mono", monospace;
      border: 2px solid #cc6700;
      font-size: 18px;
      outline: none;
      resize: none;
      overflow: auto;
      scroll-padding: 50px 0px 0px 50px;
    }
    ::-webkit-scrollbar {
      width: 10px;
      overflow: hidden;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
      padding: 10px;
      margin: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }

  //colors
  .pickLanternColor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin-top: -2.5rem;
    margin-bottom: 30px;

    $colors: red, orange, yellow, green, blue;

    // @for $i from 1 through length($colors) {
    //   .color-btn:nth-child(#{length($colors)}n + #{$i}) {
    //     border-color: lighten(nth($colors, $i), 20%);
    //   }
    // }
  }

  .btn--next {
    margin: 0 auto;
    width: min-content;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #084d69;
    font-weight: 500;

    &:hover {
      background-color: #084d69;
      color: white;
      cursor: pointer;
    }
  }
}

h1 {
  color: #084d69;
  font-weight: 500;
}

.no-show {
  display: none;
}

/* pretty radio */
label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.color-btn--red[type="radio"]:checked + *::before {
  background: red;
}
.color-btn--orange[type="radio"]:checked + *::before {
  background: orange;
}
.color-btn--yellow[type="radio"]:checked + *::before {
  background: yellow;
}
.color-btn--purple[type="radio"]:checked + *::before {
  background: purple;
}
.color-btn--green[type="radio"]:checked + *::before {
  background: green;
}

.color-text {
  display: block;
  width: min-content;
  margin-top: 10px;
}
