.home__lanterns {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    border: none;
  }
}

.lantern__main {
  max-width: 150px;
  height: auto;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 600px) {
  .home__lanterns {
    width: 100%;
  }
}
