.header__inner {
  // margin-right: -4rem;

  p {
    display: inline-block;
    margin: 1rem;
    margin-right: 1rem;
    color: #084d69;
    font-weight: 600;
    border-bottom: 3px solid transparent;
  }

  p:hover {
    border-bottom: 3px #cc6700 solid;
  }
}

@media (max-width: 500px) {
  .header__inner {
    margin: 0 auto;
  }
}
