
h1 {
  font-size: 31px;
  font-weight: 400;
  text-align: center;
}

.view__container {
  padding: 40px;
  height: auto;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

// .view__container {
//   .lantern__deets {
//     margin: 0 auto;
//     width: 400px;
//     height: auto;
//     padding: 40px;
//     border-radius: 10px;
//     background-color: #c4c4c4;
//   }

//   h1 {
//     font-size: 31px;
//     font-weight: 400;
//     color: white;
//     text-align: center;
//   }
// }

// @media (max-width: 768px) {
//   .view__container {
//     // width: 100%;
//     // padding: 0;
//     // margin: 0;
//     .lantern__deets {
//       width: auto;
//       margin: 0;
//     }
//   }
}

.animate__fadeInUp {
  min-width: 450px;
  min-height: 350px;
  border-radius: 30px;
  padding: 30px;
  font-family: "Cutive Mono", monospace;
  border: 2px solid #cc6700;
  font-size: 18px;
  outline: none;
  resize: none;
  overflow: auto;
  scroll-padding: 50px 0px 0px 50px;

  ::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    padding: 10px;
    margin: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
}
